/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

/*common css */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}



/* canvas */

.wrapping {
    width: 100vw;
    height: 100vh;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.wrapping .tools {
    right: 10px;
    top: 4px;
    position: absolute;
}

.wrapping .tools div {
    display: inline-block;
    margin-right: 10px;
}

.wrapping .tools div .iconfont {
    font-size: 36px;
}

.wrapping .tools .empty span {
    color: red;
}

.wrapping .tools .download span {
    color: #438afb;
}

.wrapping .paint {
    height: 70px;
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 50%;
    margin-left: -201px;
    /*border: 1px solid red;*/
    text-align: center;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: -1px -1px 2px 1px rgba(0, 0, 0, 0.05);

}

.wrapping .paint .color {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.wrapping .paint .icon-pen {
    font-size: 50px;
    font-weight: bold;
}

.wrapping .paint .icon-eraser {
    font-size: 50px;
}


.wrapping #canvas {
    width: 100vw;
    height: 100vh;
}
